@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 2vw;
  font-weight: 600;
}

body {
  box-sizing: border-box;
  padding: 0 4vw;
  margin: 0;
  background-color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  padding: 0 1vw;
  position: sticky;
  background-color: #f2d18d;
  height: 7.5vw;
  top: 0;
  z-index: 1000;
  border: 2px solid #000;
  box-shadow:
    3px 3px 0 2px #000,
    -3px -3px 0 2px #c0c0c0,
    3px 3px 5px 4px #a9a9a9 inset,
    -3px -3px 5px 4px #fff inset;
}

.main {
  padding-top: 10px;  /* Ajusta este valor según sea necesario */
}

.pokemon-item img {
  max-width: 100%;
}

#pokemon-counter {
  margin-bottom: 50px;
}

.comment-pop-up div img {
  width: 35vw;
}

.navbar .logo img {
  height: 6vw;
}

.navbar nav ul {
  display: flex;
  list-style: none;
}

.comment-pop-up li {
  list-style: none;
}

.comment-pop-up-details ul li {
  width: 40%;
}

.navbar nav ul li {
  margin: 0 1vw;
}

#comment-list li {
  font-size: 0.8rem;
  font-family: cursive;
}

.navbar nav ul li a {
  text-decoration: none;
  color: inherit;
}

.lists a:hover {
  color: rgb(36, 94, 180);
}

.lists a.active {
  color: rgb(36, 94, 180);
}

.navbar nav ul li a:hover {
  color: rgb(36, 94, 180);
}

.navbar nav ul li a.active {
  color: rgb(36, 94, 180);
}

.logo {
  background-image: url('./assets/logo/pokemon-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 6vw;
  height: 6vw;
  background-position: center;
}

.header {
  height: 6vw;
  display: flex;
  align-items: center;
}

footer {
  height: 5vw;
  display: flex;
  align-items: center;
  border: 2px solid #000;
  box-shadow:
    3px 3px 0 2px #000,
    -3px -3px 0 2px #c0c0c0,
    3px 3px 5px 4px #a9a9a9 inset,
    -3px -3px 5px 4px #fff inset;
  padding: 0 1vw;
  position: sticky;
  background-color: #fff;
  bottom: 0;
  z-index: 1000;
}

.footer {
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  padding: 0 1vw;
  position: relative;
  background-color: #fff;
  height: 5vw;
  bottom: 0;
  z-index: 1000;
}

/* ---------- POKEMON LIST ---------- */

.pokemon-list {
  flex-shrink: 0;
  display: flex;
  margin-top: 0.1vw;
  margin-bottom: 5vw;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  height: 100vh;
  padding-top: 7.5vw; /* Added to account for the navbar */
}

.pokemon-item {
  flex-basis: calc(30% - 2em);
  margin: 1em;
  padding: 2em;
  text-align: center;
  box-sizing: border-box;
  height: 50vh;
  width: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-between; /* Added to space out the elements */
  background-color: #fff;
  border: 2px solid #000;
  box-shadow:
    3px 3px 0 2px #000,
    -3px -3px 0 2px #c0c0c0,
    3px 3px 5px 4px #a9a9a9 inset,
    -3px -3px 5px 4px #fff inset;
}

.comment-button {
  padding: 1em;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow:
    3px 3px 0 2px #000,
    -3px -3px 0 2px #c0c0c0,
    3px 3px 5px 4px #a9a9a9 inset,
    -3px -3px 5px 4px #fff inset;
  transition: 0.3s;
  text-decoration: none;
  text-align: center;
}

.comment-button:hover {
  background-color: #c0c0c0;
}

.comment-button:active {
  box-shadow:
    -3px -3px 0 2px #000,
    3px 3px 0 2px #c0c0c0,
    -3px -3px 5px 4px #a9a9a9 inset,
    3px 3px 5px 4px #fff inset;
}

.comment-button:active,
.reservation-button:active {
  border-style: inset;
}

.like-icon {
  font-size: 1em;
  position: absolute;
  top: 14px;
  right: 50px;
}

.likes-count {
  font-size: 0.5em;
  position: absolute;
  top: 10px; /* Ajusta este valor según sea necesario */
  right: 10px; /* Ajusta este valor según sea necesario */
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* ---------- COMMENTS POP UP ---------- */

span {
  font-weight: 900;
}

.comment-pop-up {
  width: 80%;
  margin: 1vh auto;
  display: flex;
  flex-direction: column;
  padding: 1vh 3vw;
  align-items: center;
  border: 0.3rem solid #000;
  border-radius: 0.9rem;
}

.comment-pop-up > * {
  box-sizing: border-box;
}

.x-button {
  align-self: flex-end;
  font-weight: 900;
  background: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

.pop-up-buttons:hover {
  background-color: #000;
  color: #fff;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

.pop-up-buttons::after {
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.pop-up-buttons:hover::after {
  opacity: 1;
  right: 0.5rem;
}

.pop-up-buttons:focus {
  color: #f00;
}

.comment-pop-up h2 {
  font-size: 5vw;
  margin: 0.5rem;
}

.comment-pop-up h3 {
  font-size: 4vh;
  margin: 0 auto;
}

.comment-pop-up-details ul:nth-child(1) {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#abilities-list li,
#stats-list li,
#forms-list li,
#weight-list li {
  font-size: 0.78rem;
  width: fit-content;
  font-family: cursive;
}

.comment-pop-up-comments-number-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#commentCount {
  font-size: inherit;
}

.comment-pop-up_form_container h3 {
  text-align: center;
}

.comment-pop-up_form_container form {
  display: flex;
  flex-direction: column;
  row-gap: 1.3vh;
}

.comment-pop-up_form_container form input,
.comment-pop-up_form_container form textarea {
  border: 0.2rem solid #000;
  border-radius: 0.3rem;
}

.comment-pop-up_form_container form input:hover,
.comment-pop-up_form_container form textarea:hover {
  border: 0.2rem solid #2b2828;
  border-radius: 0.3rem;
  background: #f9f7f7;
}

.comment-pop-up_form_container form button {
  width: fit-content;
  padding: 0.2rem 0.5rem;
}

.hidden {
  display: none;
}
